@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Playball);
body {
  padding-top: 25px;
  background-image: url('Images/ocean.jpg');
  background-size: 100%
}

.winnerChange {
  opacity: 0.5;
}

h1 {
  color: #fff;
  font-family: 'Playball';
  word-spacing: 5px;
  font-size: 6em;
  margin: auto 0;
  margin-left: 310px;
}

#winnerHidden h1 {
  margin-left: 0;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Playball';
  word-spacing: 5px;
  font-size: 4em;
}

h2 {
  color: #fff;
  font-family: 'Playball';
  font-size: 2em;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
}

#instruct h2 {
  margin-bottom: 50px;
}

h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Playball';
  margin: 40px 0 40px 0;
}

p {
  font-family: 'Rokkitt';
  color: #fff;
  font-size: 1.3em;
}

#container {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 20px;
  height: auto;
  border-radius: 10px;
}

#instruct {
  height: 450px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  background-color: #5282A6;
  margin-left: 0;
  margin-right: 60px;
  border-radius: 20px;
}

#board {
  max-width: 450px;
  height: 450px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
}

.square {
  border-radius: 20px;
  font-size: 5em;
  width: 148px;
  height: 148px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  text-align: center;
  line-height: 148px;
  background-color: white;
  opacity: 0.55;
  cursor: pointer;
}

.square:hover {
  background-color: rgba(150, 150, 200, 0.5);
}

.winningSquares {
  /*  transition: #DCE860;*/
  
  background-color: #00C2C2;
  color: white;
}

#instructHidden {
  height: 450px;
  width: 705px;
  background-color: #5282A6;
  border-radius: 20px;
  margin-top: -40px;
  z-index: 99999;
  display: none;
  position: absolute;
  top: 213px;
  left: 335px;
  text-align: left;
  padding-left: 50px;
}

.instructLeft {
  vertical-align: top;
  display: inline-block;
  width: 30%;
}

.instructRight {
  margin: 25px 0px 0px 40px;
  width: 400px;
  vertical-align: top;
  display: inline-block;
  background-image: url('Images/ocean-instruct.jpg');
  background-size: 100%;
  border-radius: 20px;
  height: 400px;
  background-repeat: no-repeat;
}

#winnerHidden {
  height: 300px;
  width: 550px;
  background-color: #16A69D;
  border: 10px solid white;
  border-radius: 20px;
  margin-top: -40px;
  z-index: 99999;
  display: none;
  position: absolute;
  top: 280px;
  left: 440px;
  text-align: left;
}

button {
  text-decoration: none;
  margin-top: 20px;
  color: white;
  margin-left: 40px;
  height: 100px;
  width: 200px;
  font-family: 'Rokkitt';
  font-size: 1.8em;
  background-color: transparent;
  border: none;
}

#playAgain {
  margin-left: 170px;
  font-size: 2.4em;
}

.closeButton {
  width: 50px;
  height: 50px;
  font-size: .9em;
  margin: 0;
  margin-left: 400px;
}

#changeThemeHidden {
  height: 300px;
  width: 550px;
  background-color: #16A69D;
  border: 10px solid white;
  border-radius: 20px;
  margin-top: -40px;
  z-index: 99999;
  display: none;
  position: absolute;
  top: 280px;
  left: 440px;
  text-align: left;
}
